.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* დაიწყო ჰედერი */
header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #13345B;
    justify-content: space-between;
    padding: 47px 75px;
}

nav {
    display: flex;
}

ul {
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    gap: 52px;
}

li{
    transition: all .2s linear;
}

li:hover{
    color: white;
}

.header_text {
    color: #FDD504;
}

.header_contact {
    color: #FD0404;
}

/* დაიწყო კონტენტი */

.content{
    max-width: 1440px;
    width: 100%;
}

.form {
    max-width: 1440px;
    width: 100%;
}

.content_text {
    font-size: 48px;
    color: #13345B;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    position: absolute;
    top: 414px;
    left: 40%;
    transform: translateY(-40%);
}

.grid_container {
    /* display: flex; */
    justify-content: center;
    width: 89.58%;
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 190px;
    grid-template-rows: 90px 90px;
    row-gap: 32px;
    position: absolute;
    top: 560px;
    left: 5%;
    transform: translateY(-5%);
}

.div_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form_text {
    font-size: 20px;
    color: #13345B;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.form_input {
    border: none;
    height: 58px;
    background-color: #B3E9F5;
    outline: none;
}

.radio {
    width: 100%;
    position: absolute;
    top: 892px;

}

.form_container1 {
    width: 74%;
    padding-left: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
}

.radio_div {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

h2 {
    font-weight: 700;
    font-size: 32px;
    color: #15C1E7;
    font-family: 'Inter', sans-serif;
}

.text_schedule {
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input_style1 {
    width: 32px;
    height: 32px;
}

.radio_schedule {
    color: #13345B;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.input_style2 {
    width: 32px;
    height: 32px;
    border-radius: 10px;
}

.input_file {
    font-size: 32px;
}

::-webkit-file-upload-button {
    border-radius: 8px;
}

.buttons {
    width: 100%;
    position: absolute;
    top: 1480px;
    padding-left: 75px;
    padding-bottom: 130px;
    display: flex;
    gap: 30px;
}

.send {
    width: 630px;
    height: 108px;
    font-weight: 700;
    font-size: 36px;
    color: white;
    background-color: #FDD504;
    border: none;
    border-radius: 15px;
}

.reset {
    width: 630px;
    height: 108px;
    font-weight: 700;
    font-size: 36px;
    color: white;
    background-color: #15C1E7;
    border: none;
    border-radius: 15px;
}

/* დაიწყო ფუთერი */

footer{
    background-color: #13345B;
    max-width: 1440px;
    width: 100%;
    height: 200px;
    position: relative;
    top: 1420px;
    display: flex;
    justify-content: center;
}
.div_footer{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transition1{
    transition: all .2s linear;
}
.transition1:hover{
    transform: skew(10deg);
}